@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
background: #F5F5F5;
    margin: 0;
}

header {
    height: 100px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 180px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #121213;
    transition: opacity 300ms;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover {
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover {
    background: #69F1A1;
    color: #000;
}

#icon_menu {
    display: none;
}



.select{
    background: #3f7cb1;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

@media (max-width: 1024px) {

    .container__header,
    main {
        padding: 20px;
    }

    #icon_menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register {
        display: none;
    }

    .menu {
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
        transition: all 300ms;
    }

    .menu nav ul {
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li {
        padding: 10px 40px;
    }

    .mostrar_menu {
        /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1 {
        font-size: 40px;
    }

    .text__information-cover p {
        font-size: 16px;
    }

    .banner__text h2 {
        font-size: 22px;
    }

    #icon_heart {
        left: -60px;
    }

    .banner__icon-fire {
        right: -20px;
    }
}

@media (max-width: 920px) {
    .text__information-cover {
        width: 100%;
    }

    .media__cover {
        display: none;
    }

    .banner {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire {
        display: none;
    }

    #icon_heart {
        left: 0;
    }

    .banner__text {
        width: 100%;
        margin-top: -100px;
    }
}

.cover{
    
  display: flex;
    justify-content: center;
    
}

.text__information-cover{
    width: 80%;
    
}

.text__information-cover h1{
    font-size: 25px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}



/************* EFECTO PARALLAX*************/

.container__background-triangle{
    max-width: 1200px;
   height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
}

.triangle1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #0ea1e6, #cddcf0);
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangle2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #3990e2, #649fc7);
    top: 350px;
    animation: t2 9s ease infinite;
}

.triangle3{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, #506975, #0fa4df);
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

/*************AQUI COMIENZAN LAS TARJETAS DE PRODUCTOS****************/

.container__cards{

    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #16053d;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #16053d;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #16053d;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}


.botones {
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 8px 15px;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #c3c4df, #b7b2f0);
}

.botones:hover {
    cursor: pointer;
    width: 100%;
}

.botones span {
    margin-right: 10px;
    font-size: 20px;
}

@media screen and (max-width:2000px) {
    .container__cards{
        position: relative;
    top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}





/*AQUI COMIENZA EL FOOTER*/

footer{
    width: 100%;
    position: relative;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    /*background-color: var(--color-esqueleto);
    */
    background-image: url("../media/footer.png");
   background-size: cover; 

}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__footer img{
    width: 40px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


@media screen and (max-width: 300px) {
  
footer{
     
 position: absolute;

}
}

@media screen and (max-width: 760px) {
 
footer{
   
 position: absolute;
  
}
}

@media screen and (max-width: 1200px) {
   
footer{
  
    position: absolute;
 
}
}


